* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: #f44336;
    /* padding: 10px; */
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.home  {
    background-color: white;
    padding: 10px 20px;
   position: absolute;
   
}

.home a {
    color: black;
}

nav {
    width: 400px;
    padding: 10px;
    margin-left: 50px;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

a {
    text-decoration: none;
    
}

.nav-list a {
    color: white;
}



.hero-container {
    background-color: #f44336;
    color: white;
    height: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



